<h1>Welcome to my blog page.</h1>
<p>the time now is {{moment}}</p>
<div id="blogPosts">{{#if data}}
	{{#each data}}
		<li><a href="/posts/show/{{this._id}}">{{this.title}}</a></li>
		<p class="meta">By: {{this.author}}, Posted in: {{this.category}} on {{this.date}}.</p>
		<p>{{this.body}}</p>
		<a href="/posts/show/{{this._id}}">Read More</a>
		<hr>
	{{/each}}
{{/if}}
</div>